doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Maslina
    body
        #app.LAYOUT-APP
            .bgr-layout
            .modal-reg
                .modal-reg__header
                    .logo
                .modal-reg__body
                .modal-reg__footer
