doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic" rel="stylesheet")
        title Maslina
    body
        #app.LAYOUT-APP
            .button.button--start.active(v-if="!isModalOpen" @click="startReg") JUST DO IT!
            .bgr-layout
            transition(:name="directSlide" mode="out-in")
                component(:is="currentModal" @handler-select="changeModal" @secret-gen="saveSecret" @close="closeModal")
